@import 'deps/_dependencies.scss';

// LAYOUT =======================================================
.grid {
    display: grid;
    grid-row-gap: $gap-space;
    @include equalSize(100%);
}

#layout {
    grid-template:
        "nav header header header" 50px
        "nav . body ." auto
        "nav footer footer footer" 20%
        / 300px 2% auto 2%;
}

// REACT APP ==================================================
#react-app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

// NAVIGATION =================================================
#nav {
    grid-area: nav;
    padding: $gap-space;
    background-color: $color-dark-1;
    @include box-shadow();

    .nav-header {
        display: flex;

        .title {
            $size: 24px;

            margin: $gap-space 0 0 0;
            font-size: $size;
            line-height: $size;
        }

        .nav-toggler {
            margin-left: auto;
            padding: 0 $gap-space;
            background-color: $color-dark-2;
            border: 1px solid $color-light-1;
            color: $color-light-1;
            @include border-radius();
            @include box-shadow();
        }
    }

    .nav-collapse {
        margin-top: $gap-space;
        border-top: 1px solid $color-light-1;

        .icon {
            padding-right: $gap-space;
            color: $color-primary;
        }

        .nav-link {
            display: flex;
            padding: $gap-space;
            color: $color-primary;
            font-weight: bold;

            .nav-link-content, .icon {
                $size: 20px;

                margin: 0;
                font-size: $size;
                line-height: $size;
            }
        }

        .active, .active:hover, .active:focus {
            width: calc(100% + #{$default-border-radius});
            margin-left: -$gap-space;
            padding-left: $gap-space * 2;
            padding-right: 0;
            background-color: $color-primary;
            color: $color-dark-1;
            @include box-shadow();
            @include border-radius-right();

            .icon {
                color: $color-dark-1;
            }
        }
    }
}

// HEADER =====================================================
#header {
    grid-area: header;
    padding: 5px;
    background-color: $color-dark-1 - #111;

    div {
        display: block;
    }

    .button {
        float: right;
        margin: 0 5px;
    }
}

// BODY =======================================================
#body {
    grid-area: body;
}

// FOOTER =====================================================
#footer {
    grid-area: footer;
}

// MISC =======================================================
.clearfix {
    clear: both;
}

#qrCode {
    margin: 15px;
}

// CLOCK ======================================================
.clock-digital {
    width: 60%;
    min-width: 160px;
    padding: 10px 5px;
    margin: 10px auto;
    clear: both;
    background-color: $color-dark-2;
    border: 2px solid $color-light-1;
    @include border-radius(5px);
    @include box-shadow();

    .clock-digital-time {
        font-size: 24px;
        text-align: center;
        color: $color-light-1;
        margin: 0;
        padding: 0;
    }
}

// IMAGE ======================================================
$image-size: 120px;

.image {
    @include equalSize($image-size);

    text-align: center;
    line-height: $image-size;
}

.image-container {
    width: $image-size;
    border: 2px solid $color-dark-1;
    overflow: hidden;
    display: block;
}

// TITLE ======================================================
.title {
    font-size: 48px;
    font-weight: bold;
    color: $color-primary;
}

%title-shared {
    text-decoration: none;

    .title {
        color: $color-dark-2;
    }
}

.title-link:hover {
    @extend %title-shared;
}

.title-link:active {
    @extend %title-shared;
}

.title-link:focus {
    text-decoration: none;
}

// BUTTON =====================================================
.button {
    cursor: pointer;
    border: 2px solid;
    padding: $gap-space;
    @include border-radius();
    @include box-shadow();
}

.button-login {
    min-width: 120px;
    font-weight: bold;
    background-color: $color-dark-1;
    color: $color-light-1;
    border-color: $color-light-1;
}

.button-register {
    min-width: 120px;
    font-weight: bold;
    background-color: $color-primary;
    color: $color-dark-2;
    border-color: $color-primary;
}