@import 'deps/_dependencies.scss';

// GLOBAL ======================================================================
* {
    font: 100% $font-stack;
}

html {
    background-color: white;

    body {
        margin: 0;
        border: 0;
        padding: 0;
        @include border-radius(10px);
        @include equalSize(100%);

        a {
            text-decoration: none;
        }

        ul {
            li {
                list-style: $ul-li-style;
            }
        }

        ol {
            li {
                list-style: $ol-li-style;
            }
        }

        ul, ol {
            a {
                text-decoration: $link-decoration;
                color: $color-primary;
            }

            span {
                color: $color-light-1;
            }
        }
    }
}

// DEFAULT =====================================================================
@import 'layout/_layout.scss';
@import 'elements/_elements.scss';

// MEDIA =======================================================================
@import 'layout/_mediaLayout.scss';
@import 'media/_mediaBelow.scss';
@import 'media/_mediaXStoSM.scss';
@import 'media/_mediaSMtoMD.scss';
@import 'media/_mediaMDtoLG.scss';
@import 'media/_mediaLGtoXL.scss';
@import 'media/_mediaAbove.scss';