@import '../../deps/_dependencies.scss';

#header {
    display: flex;
    padding: $gap-space;
    background-color: darken($color-dark-1, $color-shade-step);
    @include box-shadow(0);

    .button {
        flex: 1;
        margin: 0 $gap-space;
        font-size: 18px;
        font-weight: bold;
    }
}