@import 'parameters';

// NAVIGATION =================================================
.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    @include box-shadow();

    .navbar {
        background-color: $color-dark-1;
        width: 100%;
        padding: 0;
        align-content: flex-start;

        .navbar-header {
            width: 100%;
            padding: 10px;

            .navbar-toggler {
                background-color: $color-dark-2;
                border: 1px solid $color-light-1;
                color: $color-light-1;
                float: right;
            }

            .navbar-brand {
                margin: 0;
                padding: 0;
                float: left;
            }
        }

        .navbar-collapse, .collapse {
            border-top: 1px solid $color-light-1;

            .navbar-nav {
                .icon {
                    padding-right: 10px;
                    color: $color-primary;
                    float: left;
                }

                .nav-item {
                    padding: 10px;
                    color: $color-primary;
                    font-weight: bold;

                    .nav-link-content, .icon {
                        $size: 20px;

                        margin: 0;
                        font-size: $size;
                        line-height: $size;
                        float: left;
                    }
                }

                .active, .active:hover, .active:focus {
                    padding: 10px;
                    background-color: $color-primary;
                    color: $color-dark-1;
                    @include box-shadow();
                    @include border-radius-right(5px);

                    .icon {
                        color: $color-dark-1;
                    }
                }
            }
        }
    }
}

// CLOCK =================================================
.clock-digital {
    width: 60%;
    min-width: 160px;
    padding: 10px 5px;
    margin: 10px auto;
    clear: both;
    background-color: $color-dark-2;
    border: 2px solid $color-light-1;
    @include border-radius(5px);
    @include box-shadow();

    .clock-digital-time {
        font-size: 24px;
        text-align: center;
        color: $color-light-1;
        margin: 0;
        padding: 0;
    }
}

// IMAGE =================================================
$image-size: 120px;

.image {
    @include equalSize($image-size);

    text-align: center;
    line-height: $image-size;
}

.image-container {
    width: $image-size;
    border: 2px solid $color-dark-1;
    overflow: hidden;
    display: block;
}

// TITLE =================================================
.title {
    font-size: 48px;
    font-weight: bold;
    color: $color-primary;
}

%title-shared {
    text-decoration: none;

    .title {
        color: $color-dark-2;
    }
}

.title-link:hover {
    @extend %title-shared;
}

.title-link:active {
    @extend %title-shared;
}

.title-link:focus {
    text-decoration: none;
}

// BUTTON =================================================
.button {
    @include border-radius(5px);
    @include box-shadow(2px, 5px, 10px);

    margin: 0 2px;
    border: 2px solid;
    padding: 10px;
    min-width: 120px;
    font-weight: bold;
}

.button-login {
    background-color: $color-dark-1;
    color: $color-light-1;
    border-color: $color-light-1;
}

.button-register {
    background-color: $color-primary;
    color: $color-dark-2;
    border-color: $color-primary;
}