@import 'parameters';
@import 'includes';

// NAVIGATION =================================================
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    li {
        .glyphicon {
            margin-right: 10px;
        }

        a.active, a.active:hover, a.active:focus {
            background-color: #4189C7;
            color: white;
        }
    }
}

// CLOCK =================================================
.clock-digital {
    width: 60%;
    min-width: 160px;
    padding: 10px 5px;
    margin: 10px auto;
    clear: both;
    background-color: black;
    border: 2px solid $color-primary;
    @include border-radius(5px);
    @include box-shadow();

    .clock-digital-time {
        font-size: 24px;
        text-align: center;
        color: white;
        margin: 0;
        padding: 0;
    }
}

// IMAGE =================================================
$image-size: 120px;

.image {
    @include equalSize($image-size);

    text-align: center;
    line-height: $image-size;
}

.image-container {
    width: $image-size;
    border: 1px solid $color-secondary;
    overflow: hidden;
    display: block;
}