@import 'color';

$font-stack: Arial, Helvetica, sans-serif;

$gap-space: 10px;

$media-breakpoint: (
    xs: 300px,
    sm: 500px,
    md: 700px,
    lg: 1000px,
    xl: 1250px
);

$link-decoration: none;

$ul-li-style: circle;
$ol-li-style: decimal-leading-zero;