@import 'parameters';

#react-app {
    @include equalSize(100%);
    margin: 0;
    padding: 0;
    border: 0;
}

#layout {
    margin: 0;
    border: 0;
    padding: 0;

    @include equalSize(100%);

    #layout-left {

    }

    #layout-right {

    }
}

#qrCode {
    margin: 15px;
}

#title-nav {
    $size: 24px;

    margin: 0;
    padding: 0;
    font-size: $size;
    line-height: $size;
}

#header {
    width: 100%;
    padding: 10px;
    background-color: $color-dark-1 - #111;

    div {
        display: block;
    }

    .button {
        float: right;
        margin: 0 5px;
    }
}

#body {
    padding: 0 10px;
}