@import 'color';

// BORDER RADIUS ================================================================
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top-left($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
}
@mixin border-radius-top-right($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
}
@mixin border-radius-bottom-left($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-radius-bottom-right($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-radius-top($radius) {
    @include border-radius-top-left($radius);
    @include border-radius-top-right($radius);
}
@mixin border-radius-right($radius) {
    @include border-radius-top-right($radius);
    @include border-radius-bottom-right($radius);
}
@mixin border-radius-bottom($radius) {
    @include border-radius-bottom-right($radius);
    @include border-radius-bottom-left($radius);
}
@mixin border-radius-left($radius) {
    @include border-radius-bottom-left($radius);
    @include border-radius-top-left($radius);
}

// BOX SHADOW ================================================================
@mixin box-shadow($h-offset: 5px, $v-offset: 5px, $blur: 5px, $spread: 0, $color: $color-shadow) {
    -webkit-box-shadow: $h-offset $v-offset $blur $spread $color;
    -moz-box-shadow: $h-offset $v-offset $blur $spread $color;
    box-shadow: $h-offset $v-offset $blur $spread $color;
}

@mixin box-shadow-type($type: none) {
    -webkit-box-shadow: $type;
    -moz-box-shadow: $type;
    box-shadow: $type;
}

// HEIGHT / WIDTH ================================================================
@mixin equalSize($size) {
    width: $size;
    height: $size;
}