@import '../lib/bootstrap-grid.scss';
@import 'parameters';

@include media-breakpoint-up(md) {
    body {
        padding-left: 57px;
    }

    .nav {
        height: 100%;

        .navbar-toggler {
            display: none;
        }

        .navbar-collapse, .collapse {
            display: block;
        }
    }
}