@import '../lib/bootstrap-grid.scss';

@include media-breakpoint-down(sm) {
    body {
        padding-top: 50px;
    }
    
    .nav {
        right: 0;

        .navbar {
            padding-bottom: 14px;
        }
    }

    #header {
        .button {
            width: 47%;
        }
    }
}