@import '../lib/bootstrap-grid.scss';
@import 'parameters';

@include media-breakpoint-down(sm) {
    $nav-height: 50px;

    body {
        padding-top: $nav-height;
    }
    
    .nav {
        right: 0;
        height: $nav-height;
        @include box-shadow(0, 5px);
    }

    #header {
        .button {
            width: 47%;
        }
    }
}