@import '../deps/_dependencies.scss';

@include media-up(md) {
    $button-gap-size: $button-min-size + $gap-space * 2;
    $nav-width-expanded: 300px;

    #layout {
        grid-template:
            "nav header header header" $button-gap-size
            "nav . body ." auto
            "nav footer footer footer" auto 
            / $button-gap-size 2% auto 2%;
    }

    #nav {
        transition: width $transition-speed;
        width: $button-min-size;

        @include box-shadow(3px, $button-gap-size);

        #nav__header {
            .title {
                transition: margin-left $transition-speed;
                margin-left: -400px;
            }
        }

        #nav__content {
            transition: margin-left $transition-speed;
            margin-left: -400px;
            display: block;
            width: $nav-width-expanded;
            @include box-shadow(0, 0, 0);
        }
    }

    #nav.nav--expanded {
        width: $nav-width-expanded;

        #nav__header {
            .title {
                margin-left: 0px;
            }
        }

        #nav__content {
            margin-left: -$gap-space;
        }
    }

    #header {
        display: flex;
        justify-content: flex-end;

        .button {
            flex: none;
        }
    }
}