@import '../deps/_dependencies.scss';

@include media-up(md) {
    #layout {
        $nav-width: $button-min-size + $gap-space * 2;
        grid-template: 
            "nav header header header" $button-min-size + $gap-space * 2 
            "nav . body ." auto 
            "nav footer footer footer" auto 
            / $nav-width 2% auto 2%;
    }

    #nav {
        width: 300px;
        @include box-shadow(3px, 0);

        .nav-header {
            .title {
                display: block;
            }
        }

        .nav-collapse {
            width: 300px;
            @include box-shadow(0, 0, 0);
        }
    }

    #header {
        display: flex;
        justify-content: flex-end;

        .button {
            flex: none;
        }
    }
}