@import '../deps/_dependencies.scss';

@include media-up(md) {
    $nav-width-expanded: 300px;

    #layout {
        grid-template:
            "nav header header header" $button-with-gap-size
            "nav . body ." auto
            "nav footer footer footer" auto 
            / $button-with-gap-size 2% auto 2%;
    }

    #nav {
        transition: width $transition-speed;
        width: $button-min-size;

        @include box-shadow(3px, $button-with-gap-size);

        #nav__header {
            .title {
                transition: margin-left $transition-speed;
                margin-left: -400px;
            }
        }

        #nav__content {
            transition: border-top $transition-speed, margin-left $transition-speed;
            width: $nav-width-expanded;
            margin-left: -400px;
            padding-top: $gap-space;
            overflow: visible;
            @include box-shadow(0, 0, 0);

            .active {
                @include border-radius-right();
            }
        }
    }

    #nav.nav--expanded {
        width: $nav-width-expanded;

        #nav__header {
            .title {
                margin-left: 0;
            }
        }

        #nav__content {
            margin-left: -$gap-space;
            padding:  $gap-space;
            border-top: 1px solid $color-light-1;
        }
    }

    #header {
        display: flex;
        justify-content: flex-end;

        .button {
            flex: none;
        }
    }
}

@include media-above(lg) {
    #layout {
        grid-template:
            "nav header header header" $button-with-gap-size
            "nav . body ." auto
            "nav footer footer footer" auto 
            / 20% 3% auto 3%;
    }

    #nav, #nav.nav--expanded {
        width: 100%;

        #nav__header {
            .title {
                margin-left: 0;
            }
        }

        #nav__content {
            width: 100%;
            margin-left: -$gap-space;
            border-top: 1px solid $color-light-1;

            .active {
                padding-right: $gap-space / 2;
            }
        }
    }
}